@font-face {
    font-family: 'Brushberry Script';
    src: url('../font/Brushberry Script.otf') format('opentype');
}
@font-face {
    font-family: "ApfelGrotezk";
    src: url("../font/ApfelGrotezk-Regular.woff2") format("woff2");
}
* {
    margin: 0;
    padding: 0;
    font-family: "ApfelGrotezk";
    font-size: 15px;
}
* > ul {
    list-style: none;
}
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    position: relative;
    display: flex;
}

/* Phone model */
.phoneContainer {
    width: 100%;
    

} 
.zoomedMap {
    position: absolute;
    left: 150px;
}
.phoneContent {
    z-index: 999999;
    height: 100%;
    top:0px;
    overflow: hidden;
    width: 100%;
    position: relative;
}
/*--------------------------  */
/* Top navigation styles */
.navigationBlock {
    display: flex;
    transition: background 0.4s ease;
    background: #B800DB;
}
.navigationMenu {
    position: absolute;
    z-index: 3;
    background: white;
    color: #00068C;
    box-shadow: 1px 0px 2px 0px black;
    opacity: 0;
    pointer-events: none;
    /* padding-right: 1px; */
    top: 0px;
    height: 100%;
    width: 0;
    transition: width 0.3s ease-in-out;
    overflow: hidden; /* Add this line to hide content when width is 0 */
}
.navigationMenu::before {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.54);
    top: 0;
    width: 100%;
    height: 100%;
}
.designing {
    position: absolute;
    z-index: -2;
}
.design1 {
    width: 150px;
    height: 150px;
    background: url(../img/yellow_snake.png) center center/cover;
    bottom: -50px;
    left: -30px;
    animation: rolling 8s infinite steps(360);
}
@keyframes rolling {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.design2 {
    width: 150px;
    height: 150px;
    background: url(../img/pink_star.png) center center/cover;
    top: -50px;
    right: -60px;
    transform: rotate(145deg);
    animation: rolling 5s infinite steps(360);
}
.design3 {
    width: 150px;
    height: 150px;
    background: url(../img/lazure_owl-removebg-preview.png) center center/cover;
    top: 200px;
    left: -60px;
    transform: rotate(145deg);
    animation: skewing 8s infinite steps(360) alternate;
}
@keyframes skewing {
    0% {
        transform: skewY(-20deg);
        transform: skewX(15deg);
    }
    50% {
        transform: skewY(20deg);
        transform: skewX(-15deg);
    }
    75% {
        transform: skewY(-20deg);
        transform: skewX(15deg);
    }
    100% {
        transform: skewY(20deg);
        transform: skewX(-15deg);
    }
}
.design4 {
    width: 100px;
    height: 100px;
    background: url(../img/purple_owls.png) center center/cover;
    top: 370px;
    left: 60px;
    animation: explose 3s infinite alternate steps(360);
}
@keyframes explose {
    from {
        transform: scale(70%);
    }
    tp {
        transform: scale(110%);
    }
}
.closeMenu {
    color:#00068C;
    right: 4px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.15s ease;
    z-index: 3;
}
.closeMenu > i {
    font-size: 25px;
    position: relative;
    top:5px;
    right: 5px;
}
.navigationIcon {
    color: white;
    text-shadow: 0px 0.999px 0px black;
}
.navigationMenu > li {
    position: relative;
    border-bottom:1.5px rgb(216, 216, 216) solid;
    top:48px;
    /* margin-top: 10px; */
    /* background: rgba(232, 232, 232, 0.929); */
    font-weight: bold;
    font-size: 17px;
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 12px;
}
.navigationMenu > li:nth-child(2) {
    background: linear-gradient(45deg,#FFC3E3 80%, #ff0088a8 20%);
}
.navigationMenu > li:nth-child(3) {
    background: linear-gradient(135deg, #EDAEFA  80%,#c700ef9f 20%);
}
.navigationMenu > li:nth-child(4) {
    background: linear-gradient(45deg,#FFF7B9 80%, #ffe100bd 20%);
}
.navigationMenu > li:nth-child(5) {
    background: linear-gradient(135deg,#BBFDEF 80%, #00F6BF 20%);
}
.navigationIcon > li {
    position: absolute;
    width: 100px;
    height: 40px;
    margin: 10px;
    top:100px;
}
.navigationIcon > i {
    position: relative;
    z-index: 4;
    font-size: 38px;
    /* background: red; */
    transition: color 0.7s ease;
    padding:3px 5px;
    cursor: pointer;
}
.navigationLogo {
    /* background: green; */
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    padding-top: 10px;
    color:white;
    text-shadow: 1px 1px 3px black;
    font-weight: bold;
    font-family: 'Brushberry Script', cursive;
    position: absolute;
    font-style: normal;
}
/* --------------------------- */

/* Center Part styles */
.contentBlock{
    /* background: blue; */
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: url(../img/purpleBack.png) center center/cover;
    position: relative;
    /* top:5px; */
}
.contentBlock > * {
    position: relative;
    color: #00068C;
}
.contentBlock::before {
    content: '';
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.734);
}
.contentBlock > h1 {
    font-size: 33px;
    margin: 5px;
}
.sculptureImg {
    width: 95.7%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    /* margin: 0; */
}
.sculptImg {
    width: 320px;
    height: 330px;
    border-radius: 5px;
    position: absolute;
    transition: transform 0.3s ease, opacity 0.3s ease, width 0.2s ease, height 0.2s ease;
}
.img1 {
    background: url(img/1.jpg) center center/cover;
    transform: scaleX(1);
    width: 0;
}
.img2 {
    background: url(img/2.jpg) center center/cover;
    width: 0px;
}
.img3 {
    background: url(img/3.jpg) center center/cover;
    width: 0px;
}
.imageCarusel {
    position: relative;
    top:-5px;
    width: 68%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrow {
    background: #B800DB;
    height: 35px;
    color:white;
    width: 90px;
    border-radius: 5px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#audioPlayer {
    width: 100%;
}
.sculptureFunny {
    /* background: blue; */
    display: flex;
}
.sculptureFunny > img {
    width: 50px;
    position: relative;
    right:20px;
    /* height: 35px; */
}
/* ----------------------------- */
/* Sculpture description text part */
.sculptureDescription {
    display: flex;
    width: 92%;
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
    top:20px;
    align-items: center;
    /* margin-top: 3px; */
}
.sculptureText > * {
    font-size: 23px;
    font-weight: bold;
}
/* ------------------- */
